<body>

  <header>
      <div class="container-logo">
          <img class="logo" src="../assets/img/telaInicial.png" alt="Imagem logo inicial">
      </div>
  </header>




  <main>
      <div class="form-login">
          <form class="form" action="">
              <label for="" class="label-login">Login</label>
              <input type="text">

              <label for="" class="label-senha">Senha</label>
              <input type="password">
              <a href="">
                  <button class="button-login">Entrar</button>
              </a>
          </form>


      </div>
      <div class="register">
          <p>Ainda não tem conta?</p>
          <a href="">
              <button class="register">Cadastre-se</button>
          </a>
      </div>
  </main>

  <!-- favicon -->
  <script src="https://kit.fontawesome.com/2c36e9b7b1.js"></script>
