<div class="container-login">
  <form class="form-login">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Login</mat-label>
      <input matInput placeholder="Login" >
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput placeholder="Senha">
    </mat-form-field>


    
  <mat-radio-group aria-label="Mostrar senha">
    <mat-radio-button value="1">Option 1</mat-radio-button>
  </mat-radio-group>

   
    <div class="button-formLogin">
      <button  mat-raised-button>Entrar</button>
    
    </div>
  </form>
</div>
 

